# HELP.md - Archivo de documentación
HELP.md

# Java/Maven
target/
*.class
*.log
*.jar
!target/*.jar

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.backup
terraform.tfvars
terraform.tfvars.json
crash.log
crash.*.log
*.tfplan